.app {
  hr {
    opacity: 0.2;
  }
}

.container {
  margin: 10px;
  padding: 15px;

  .tachar{
    text-decoration: line-through;
  }
  .enfasis-1 {
    color: royalblue;
    font-weight: bolder;
  }
  .secondary {
    color: royalblue;
    opacity: 0.5;
  }
}
